body{
  
    background: linear-gradient(135deg,#d9d6ff,#f2f2ff);
    display: flex;
    justify-content: center;
    align-items: center;  
    height: 100vh;
    margin: 0;
}

.container{
  background: #ffffff;
  padding: 30px;
  width:380px;
  border-radius: 150x;
  box-shadow: 0 10px 25px ;
}

h2{
  text-align: center;
  margin-bottom: 100px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
  text-align: center;
  margin-bottom: 20px;
}
label{
  display: block;
  margin-bottom: 5px;
}

input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

button{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: #18b33f;
  color: #ffffff;
  cursor: pointer;
}

button:hover{
  background: #16a12e;
}

.total{
  margin-top: 20px;
  font-size: 18px;
}

.total span{
  font-weight: bold;
}